<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is home page</h1>
    <h2>Author : {{author}}</h2>
    <h2>Age : {{age}}</h2>
    <h2>{{lst}}</h2>

    <!-- Conditional Statement -->
    {% if age >= 20 %}
    <h4>You will get driving license</h4>
    {% elif age >= 10 and age <= 19 %}
    <h4>You will not get driving license</h4>
    {% else %}
    <h4>You're a child</h4>
    {% endif %} {{lst}}


    <h1>{{ lst | join:" - " }}</h1>
    <h1>{{ birthday | date:"D d M Y" }}</h1>
    <h1>{{ lst | length }}</h1>
    <h1>{{'Happy coding. Python is fun.' | truncatewords:2}}</h1>
    <h1>{{"Python is Fun" | cut:" "}}</h1>


    <!-- For loop -->
    {% for i in courses %}
        <h3>{{i.id}} {{i.name}} {{i.fee}}</h3>
    {% endfor %}

    <h1>{{"hell'ow lin!" | addslashes}}</h1>
    <h1>{{ "hell!" | center:"10" }}</h1>
    <h2>{{ "" | default:"nothing" }}</h2>
    <h3>{{ courses | dictsort:"name" }}</h3>
    <h2>file size: {{ 1204 | filesizeformat }}</h2>

    <h3>{{ "value should be_ in+creased" | slugify }}</h3>
    {% comment %} <h1>{{ "blog_created" | timesince:comment_date }}</h1> {% endcomment %}
    {% comment %} var a=[‘States’, [‘Kansas’, [‘Lawrence’, ‘Topeka’], ‘Illinois’]];
    <h2>{{ a | unordered_list }}</h2> {% endcomment %}
    {% comment %} <h3>{{<button>Button</button> | "striptags"}}</h3> {% endcomment %}
  </body>
</html>
