{% extends "base.html" %}
{% load static%}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'css/about_us.css'%}">
{% endblock %}

{% block content%}

<!-- About 3 - Bootstrap Brain Component -->
<section class="py-3 py-md-5" id="section">
    <div class="container mb-4 mb-md-5">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-xxl-8">
          <img class="img-fluid rounded shadow" loading="lazy" id="img" src="{% static 'images/restaurant.jpg'%}" alt="About 3">
        </div>
      </div>
    </div>
  
    <div class="container overflow-hidden">
      <div class="row gy-2 gy-md-0 justify-content-xxl-center">
        <div class="col-12 order-md-1 col-md-8 col-xxl-6">
          <div class="text-center text-md-start">
            <h2 class="display-3 fw-bold lh-1">EatFooD</h2>
            <p class="text-secondary fs-4 mb-2">Towns Most Renowned Restaurant</p>
            <hr class="w-25 mx-auto ms-md-0 mb-4 text-secondary">
            <p>EatFooD, where every bite is a celebration of flavor and freshness! Our mission is to provide you with a memorable dining experience through our carefully crafted menu, showcasing a fusion of classic and contemporary dishes. At EatFooD, we prioritize quality ingredients, exceptional service, and a welcoming atmosphere.</p>
            <p>Whether you're joining us for a casual lunch, a romantic dinner, or a special occasion, we promise a culinary journey that delights all your senses. Come taste the difference at EatFooD – where good food is always in season.</p>
          </div>
        </div>
        <div class="col-12 order-md-0 col-md-4 col-xxl-4">
          <div class="text-center text-md-start me-md-3 me-xl-5">
            <p class="mb-4">
              <span class="d-block display-6 lh-1">12+</span>
              <span class="fs-4 text-secondary">years of experience</span>
            </p>
            <div class="d-grid">
              <button class="btn btn-primary btn-lg" type="button" id="btn"><a href="{% url 'items' %}" class="anchor">Explore Our Foods</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}