{% extends 'base.html' %}

{% block content %}

<h1 style="text-align:center; padding:10px;">EatFooD Items__</h1>
<div class="container row align-items-center m-auto">
    {% for i in categories %}
        <div class="card col-12 col-md-4">
            <img src="{{i.strCategoryThumb}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{i.idCategory}} : {{i.strCategory}}</h5>
            <p class="card-text">{{ i.strCategoryDescription|truncatewords:10 }}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}  
